$bleu_text : #26313D; 
$orange :  #ff9518;
$bleu_button : #287AE6;
$gris_fonce : #323C48;
$blanc_text : #ecf0f1;
$gris_text : #898989;
$font_ubuntu : 'Ubuntu', sans-serif;
$font_titillium : 'Titillium Web', sans-serif;

@keyframes username {
    0%,100% {
        color: black;
        background-image: url("../image/user.png");
        background-color: transparent;
    }
}
@keyframes email{
    0%,100% {
        color: black;
        background-image: url("../image/mail.png");
        background-color: transparent;
    }
}
@keyframes arrow_bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
}
@mixin background_input($image) {
    background-image: $image;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
}
#username:-webkit-autofill{
    animation-delay: 1s; 
    animation-name: username;
    animation-fill-mode: both;
}
#email:-webkit-autofill{
    animation-delay: 1s; 
    animation-name: email;
    animation-fill-mode: both;
}
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    body{
        font-family: $font_titillium;
        margin: 0;
        padding: 0;
    }
}
header p{
    font-size: 1.8em;
    color: $bleu_text;
    margin-top: 0;
    margin-left: 3vw;
    margin-top: 1.5vh;
    font-family: $font_ubuntu;
    font-weight: bold;
    margin-bottom: 10vh;
}
#username, #password, #email{
    font-family: $font_titillium;
    width: 20vw;
    margin:auto;
    border: none;
    border-bottom: 2px solid $bleu_text;
    margin-top: 5vh;
    outline: none;
    color: $bleu_text;
    padding-left: 30px;
    padding-bottom: 6px;
    font-size: 1em;
    &:focus{
        border: none;
        border-bottom: 2px solid $orange ;
        transition: 200ms;
    }
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#formulaire, #formulaire_inscription{
    margin: auto;
    width: 30vw;
    margin-bottom: 10vh;
    background-color: white;
    h1{
        color: $bleu_text;
        font-size: 1.9em;
        text-align: center;
        padding-top: 15vh;
        padding-bottom: 7vh;
        font-family: $font_titillium;
        font-weight: normal;
    }
    a{
        text-decoration: none;
        color: $bleu_button;
        font-weight: bold;
        text-align: center;
        display: block;
        font-size: 0.9em;
        padding-top: 10vh;
        padding-bottom: 5vh;
        margin: auto;
        width: 15vw;
        outline: none;
        &:focus{
            text-decoration: underline;
        }
    }
    p{
        color: red;
        text-align: center;
    }
}
#password{
    @include background_input(url("../image/lock.png"));
    &:focus{
        @include background_input(url("../image/lock_focus.png"));
        transition: 200ms;
    }
}
#username{
    @include background_input(url("../image/user.png"));
    &:focus{
      @include background_input(url("../image/user_focus.png"));
        transition: 200ms; 
    }
}
#email{
    @include background_input(url("../image/mail.png"));
    &:focus{
        @include background_input(url("../image/mail_focus.png"));
        transition: 200ms; 
    }
}
#submit_login{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    font-family: $font_titillium;
    width: 22vw;
    font-size: 1em;
    margin-top: 5vh;
    background-color: $orange;
    color: white;
    border: 1.5px solid $orange;
    outline: none;
    &:hover{
        color: $orange;
        background-color: white;
        cursor: pointer;
        transition: 200ms;
    }
    &:focus{
        color: $orange;
        background-color: $blanc_text;
        cursor: pointer;
        transition: 200ms;
    }
}
#logo{
    width: 20%;
    display: block;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
.titre{
    font-size: 2em;
    text-align: center;
    color: $bleu_text;
}
.soustitre{
    margin: auto;
    text-align: center;
    width: 60vw;
}
.bouton{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    font-family: $font_titillium;
    width: 15vw;
    font-size: 1em;
    margin-top: 10vh;
    background-color: $orange;
    color: white;
    border: 2px solid $orange;
    outline: none;
    margin-bottom: 5vh;
    &:hover{
        color: $orange;
        background-color: white;
        cursor: pointer;
        transition: 200ms;
    }
}
#container_submit{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
strong{
    color: $orange;
}
.down-arrow{
    margin: 10vh auto;
    display: block;
    width: 10vw;
    img{
        animation: arrow_bounce 2s infinite;
        width: 40%;
        margin: auto;
        display: block;
    }
}
#body_connexion, #body_inscription{
    background-color: $bleu_text;
    header p{
        color: $blanc_text;
    }
}
#bottom{
    background-color: $bleu_text;
    h1{
        color: #ecf0f1;
        font-family: $font_titillium;
        font-weight: normal;
        text-align: center;
        font-size: 2.3em;
        padding-top: 5vh;
    }
}
.triangle{
    margin: auto;
    width: 15%;
    display: block;
}
.font_cryptowar{
    font-family: $font_ubuntu;
}
#container_hacker, #container_tueur, #container_securite{
    display: flex;
    flex-direction: column;
    img{
        width: 30%;
        margin: auto;
        &:hover{
            transform: scale(1.10);
            transition: 300ms;
        }
    }
    p{
        font-size: 2em;
        color: $blanc_text;
        text-align: center;
    }
    a{
        color: $blanc_text;
        text-decoration: none;
        text-align: center;
        font-size: 1em;
        outline: none;
        &:focus{
            text-decoration: underline;
        }
        &:hover{
            text-decoration: underline;
            transition: 300ms;
        }
    }

}
#container_unite1{
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25vh;
}
footer{
    width: 90vw;
    color:$blanc_text;
    display: flex;
    justify-content: space-around;
}
#left{
    display: inline-flex;
    a{
        color: $blanc_text;
        text-decoration: none;
        margin-left: 2vw;
        font-size: 1em;
        margin-bottom: 2vh;
    }
    .lien:hover{
        text-decoration: underline;
        transition: 300ms;
    }
}
#right{
    width: 30vw;
    img{
        margin-left: 3vw;
        width: 10%;
        float: right;
        padding-bottom: 2vh;
        &:hover{
            transform: scale(1.10);
            transition: 300ms;
        }
    }
}
#menu{
    padding-top: 0;
    margin-top: 0;
    width: 15vw;
    height: 100vh;
    nav{
        p{
        color: $gris_text;
        margin-left: 2vw;
        }
    }
    h1{
        padding-top: 2vh;
        padding-bottom: 2vh;
        margin-top: 0;
        font-family: $font_ubuntu;
        font-style: italic;
        text-align: center;
    }
    ul{
        text-align: center;
        list-style-type: none;
        padding-left: 0;
        li{
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
            &:hover{
                background-color: $orange;
                transition: 300ms;
                color: $blanc_text;
            }
        }
        img{
            width: 8%;
            margin-left: -3vw;
            margin-right: 1vw;
        }
        a{
            text-decoration: none;
            color: $bleu_text;
        }
    }
    .focus{
        background-color: $orange;
        color: $blanc_text;
    }
}
#body_accueil{
    display: inline-flex;
    #main{
        margin-left: 0;
        padding-left: 0;
        background-color: $bleu_text;
        width: 85vw;
        height: 100vh;
        #info_joueur{
            display: flex;
            flex-direction: column;
            float: right;
            #info{
                display: flex;
                flex-direction: row;
                margin-right: 2vw;
                align-items: center;
            }
            #fleche{
                transform: rotate(90deg);
            }
            img{
                height: 2vh;
                width: auto;
                cursor: pointer;
            }
            .cloche{
                margin-right: 1vw;
            }
            p{
                margin-right: 1vw;
            }
            #menu_joueur{
                display: flex;
                flex-direction: column;
                width: 10vw;
                text-align: center;
                a{
                    text-decoration: none;
                    color: $blanc_text;
                    display: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .accueil{
            color: $blanc_text;
            text-align: center;
            margin-top: 2vh;
            margin-left: 10vw;
        }
        p{
            color: $blanc_text;
            text-align: center;
        }
        #container_ressource{
            display: flex;
            justify-content: space-around;
            margin-top: 10vh;
            #bitcoin, #litecoin, #ethereum{
                width: 20vw;
                display: flex;
                flex-direction: column;
                text-align: center;
                background-color: $gris_fonce;
            }
            .prix{
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        #container_bottom{
            display: flex;
            justify-content: space-around;
            margin-top: 10vh;
        }
        #container_argent_joueur{
            width: 30vw;
            background-color: $gris_fonce;
            display: flex;
            flex-direction: column;
            font-size: 1.2em;
            height: 40vh;
            #argent_joueur, #classement_joueur{
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $blanc_text;
                .argent{
                    margin-left: 10vw;
                    font-weight: bold;
                }
            }
            img{
            width: auto;
            height: 5vh;
            margin-left: 2vw;
            margin-right: 2vw;
            }

        }
        #container_classement{
            width: 30vw;
            background-color: $gris_fonce;
            overflow: auto;
            height: 40vh;
            .left,.center{
                margin-right: 7vw;
            }
            h1{
                text-align: center;
                color: $blanc_text;
            }
        }
    }
}
#body_unite{
    display: inline-flex;
    #main_unite{
        margin-left: 0;
        padding-left: 0;
        background-color: $bleu_text;
        width: 85vw;
        height: 100vh;
        #info_joueur{
            display: flex;
            flex-direction: column;
            float: right;
            color: $blanc_text;
            #info{
                display: flex;
                flex-direction: row;
                margin-right: 2vw;
                align-items: center;
            }
            #fleche{
                transform: rotate(90deg);
            }
            img{
                height: 2vh;
                width: auto;
                cursor: pointer;
            }
            .cloche{
                margin-right: 1vw;
            }
            p{
                margin-right: 1vw;
            }
            #menu_joueur{
                display: flex;
                flex-direction: column;
                width: 10vw;
                text-align: center;
                a{
                    text-decoration: none;
                    color: $blanc_text;
                    display: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .unite{
            color: $blanc_text;
            text-align: center;
            margin-top: 2vh;
            margin-left: 10vw;
        }
        #container_unite2{
            margin-top: 20vh;
            display: flex;
            justify-content: space-around;
            #container_hack, #container_tueur_a_gages, #container_dev{
                color: $blanc_text;
                text-align: center;
                img{
                    width: 30%;
                }
                button{
                    background-color: $bleu_button;
                    color: $blanc_text;
                    padding: 10px 50px;
                    border: none;
                    &:hover{
                        transform: scale(1.05);
                        transition: 300ms;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}

